<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="mb-2 flex justify-content-end">
  <button pButton type="button" label="Novo Livro" icon="pi pi-plus" (click)="openNew()"></button>
</div>

<p-table
  [value]="books"
  [loading]="loading"
  [paginator]="true"
  [rows]="10"
  responsiveLayout="scroll"
  emptyMessage="Nenhum livro encontrado"
  [rowsPerPageOptions]="[10, 20, 50]"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Título</th>
      <th>Resumo</th>
      <th>Ano</th>
      <th>Autor</th>
      <th>Gênero</th>
      <th style="width: 120px">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.summary }}</td>
      <td>{{ book.publicationYear }}</td>
      <td>{{ getAuthorName(book.authorId) }}</td>
      <td>{{ getGenreName(book.genreId) }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info mr-1" (click)="editBook(book)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(book)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Diálogo de Criação/Edição -->
<p-dialog header="{{ editing ? 'Editar Livro' : 'Novo Livro' }}"
    [(visible)]="bookDialog"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '400px' }"
    [closable]="false"
    [draggable]="false"
    [resizable]="false"
  >
  <br>
  <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <div class="p-fluid">
      <div class="field">
        <p-floatlabel variant="on">
          <input pInputText id="title" formControlName="title" autocomplete="off" />
          <label for="title">Título</label>
        </p-floatlabel>
      </div>
      <div class="field">
        <p-floatlabel variant="on">
          <textarea pTextarea id="summary" formControlName="summary" rows="3" cols="30" style="resize: none" class="h-full"></textarea>
          <label for="summary">Resumo</label>
        </p-floatlabel>
      </div>
      <div class="field">
        <p-floatlabel variant="on">
          <input pInputText id="publicationYear" formControlName="publicationYear" type="number" />
          <label for="publicationYear">Ano de Publicação</label>
        </p-floatlabel>
      </div>
      <div class="field">
        <p-floatlabel variant="on">
          <p-select appendTo="body" inputId="authorId" formControlName="authorId" [options]="authors" optionLabel="name" optionValue="id" styleClass="w-full"></p-select>
          <label for="authorId">Autor</label>
        </p-floatlabel>
      </div>
      <div class="field">
        <p-floatlabel variant="on">
          <p-select appendTo="body" inputId="genreId" formControlName="genreId" [options]="genres" optionLabel="name" optionValue="id" styleClass="w-full"></p-select>
          <label for="genreId">Gênero</label>
        </p-floatlabel>
      </div>
    </div>
    <div class="flex justify-content-end gap-2 mt-3">
      <button pButton label="Cancelar" icon="pi pi-times" (click)="bookDialog = false" type="button" class="p-button-text"></button>
      <button pButton label="Salvar" icon="pi pi-check" type="submit" [disabled]="bookForm.invalid"></button>
    </div>
  </form>
</p-dialog>
