<p-dialog header="Bem-vindo!" [(visible)]="infoDialog" [modal]="true" [style]="{width: '350px'}" [closable]="true" [dismissableMask]="true">
    <div style="text-align: center;">
        <p style="font-size: 1.1rem; margin-bottom: 1rem;">E aí, prazer! Sou <b>Vinícius</b>!</p>
        <p>Obrigado por dedicar um tempo para ver este projeto. Foi um teste técnico feito com um prazo de cerca de 24 horas, com muito suor e esforço.<br>Espero que goste!</p>
        <p style="margin-top: 1.5rem; font-size: 0.95rem; color: #888;">Atenciosamente,<br><b>Vinícius</b></p>
    </div>
</p-dialog>
<br>
  
<p-menubar [model]="items" class="w-full">
    <ng-template pTemplate="end">
        <button pButton [icon]="isDark ? 'pi pi-sun' : 'pi pi-moon'" class="mr-2" (click)="toggleTheme()"></button>
        <button pButton icon="pi pi-info-circle" class="" (click)="showInfo()"></button>
    </ng-template>
</p-menubar>

